body {
    background-color: lightgray;
}

h1, h1 {
    color: rgb(12, 173, 167);
    background-color: lightgray;
    font-family: times new roman;
    font-weight: bold;
}

p {
    font-family: calibri
}

